<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>公佈欄</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-table.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-table.js"></script>
</head>

<body>
	<div class="container">
		<button type="button" class="btn btn-light" onClick="location.href='./index'">首頁</button>
		<button type="button" class="btn btn-light" onClick="location.href='./add'">新增事項</button>
		<h1><code>公佈欄</code></h1>
		<table id="table" data-sort-name="id" data-sort-order="desc"></table>
	</div>

	<script th:inline="javascript">
		var result = [[${bdata}]];
		$(function () {
			load();
		});
		function load() {
			$("#table").bootstrapTable({
				data: result,
				undefinedText: "_",
				sidePagination: 'client',
				pagination: true,
				striped: true,
				pageNumber: 1,
				pageSize: 10,
				pageList: "[10, 20, 50, 100, 200]",
				toolbar: "#toolbar",
				paginationPreText: "<<",
				paginationNextText: ">>",
				formatLoadingMessage: function () {
					return "Loading...";
				},
				columns: [{
					field: 'id',
					visible: false,
				}, {
					field: 'detail',
					title: '標題',
					align: 'left',
					//width: ,
				}
					, {
					field: 'filequantity',
					title: '附件數量',
					align: 'left',
					width: 70,
				}
					, {
					field: 'sdate',
					title: '發佈日期',
					align: 'left',
					width: 130,
				}
					, {
					field: 'edate',
					title: '結束日期',
					align: 'left',
					width: 130,
				}
					, {
					field: 'name',
					title: '發佈人',
					align: 'left',
					width: 150,
				}
					, {
					field: 'operate',
					title: '控制項',
					align: 'left',
					width: 100,
				}
				]
			})
		}
	</script>

</body>

</html>